@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Albert Sans', sans-serif;
}

.font-the-signature {
  font-family: 'Thesignature', sans-serif;
}

.font-unbounded {
  font-family: 'Unbounded', sans-serif;
}